.certificates-section {

    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 28px;

    }

    &__item {
        position: relative;
        max-width: 410px;
        margin-top: 80px;
    }

    &__title {
        color: @gray-title;
        font-size: 30px;
        font-weight: 900;
    }

    &__title {

    }

    &__description {
        margin-top: 16px;
        display: flex;

        &._arrow {
            position: relative;

            &:after {
                content: '';
                width: 77px;
                height: 89px;
                position: absolute;
                bottom: calc(100% - 70px);
                right: 10px;
                background: url("../img/icons/arrow.svg");
            }
        }

    }

    &__pdf-icon {
        position: absolute;
        top: -35px;
        right: -40px;
        width: 61px;
        height: 69px;
        padding-top: 30px;
        padding-left: 15px;
        color: @white;
        text-decoration: none;
        background: url("../img/icons/PDF.svg") no-repeat;
        font-weight: 900;
    }
}